.reference
{
position:relative;
background:black;
width:100px;
height:80px;
}

.popout-menu
{
position:absolute;
visibility:hidder;
left:100%;
background:yellow;
color:red;
padding:16px;
}

.reference:hover>.popout-menu,

.reference:focus>.popout-menu,

.reference:focus-within>.popout-menu
{
visibility:visible;
}