#triangle
{
height:00;
width:0;
border-left:100px solid transparent;
border-right:100px solid transparent;
border-bottom:200px solid blue;
}

.circle
{
height:200px;
width:200px;
background-color:black;
border-radius:50%;
}

#square
{
height:200px;
width:200px;
background-color:black;
}