.pattern{min-height:1000px;}
#Zigzag
{
background:linear-gradient(135deg,#ccc 25%,transparent 25%)-25px 0,
linear-gradient(225deg,#ccc 25%,transparent 25%)-25px 0,
linear-gradient(315deg,#ccc 25%,transparent 25%),
linear-gradient(45deg,#ccc 25%,transparent 25%);
background-size:50px 50px;
background-color:#eee;
}